@charset "utf-8";
/* CSS Document */
/*stone-2014.05.20*/
/*public*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;}
body{line-height:1;font-family:"微软雅黑"; background:#fff;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
figure{margin:0;}
hr,button,input,textarea{margin:0;padding:0;}
button,input,select,textarea{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;}
a:hover, a:focus{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
table{border-collapse:collapse;border-spacing:0;}
img{ vertical-align:middle;}
body, button, input, select, textarea {
font: 12px/1.5 tahoma, arial, 宋体b8b\4f53, sans-serif;
}
/* ie6 background img*/
*html{zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))}

/* font */
body,button,input,select,textarea{font:12px/1.5 tahoma,arial,\5b8b\4f53;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}

/* generic */
input[type=submit]{cursor:pointer;}
button{cursor:pointer;}
strong, b{font-weight:bold;}
/* common */
a{color:#333; }
a:hover,a{text-decoration:none;}
.hidden{ display: none;}
.placeholder{ color:#666;}
.readonly{ background-color:#ededed;}
.disabled{ color:#666;}
.clear{clear:both; width:100%; height:1px; overflow:hidden;}
.clearfix:after { visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1; /* for IE6 IE7 */}
.loading, .lazyload, .bigrender{ background:#fff url(../img/common/loading.gif) no-repeat center center; }
.ie6-select{ overflow: hidden;}
.ie6-iframe{position:absolute; width:100%; height:9999px; z-index:-1; border:0; zoom:1; }
/*== common style ==*/
.bold { font-weight:bold; }
.f14 { font-size:14px; }
.ma { margin:0 auto; }
.mt10 { margin-top:10px; }
.mt20 { margin-top:20px; }
.mt30 { margin-top:30px; }
.mb10 { margin-bottom:10px; }
.mb20 { margin-bottom:20px; }
.mb30 { margin-bottom:30px; }
.p10 { padding:10px; }
.p20 { padding:20px; }
.p30 { padding:30px; }
.pb10 { padding-bottom:10px; }
.pb20 { padding-bottom:20px; }
.pb30 { padding-bottom:30px; }
.tal { text-align:left !important; }
.tac { text-align:center !important; }
.tar { text-align:right !important; }
.fl { float:left !important; }
.fr { float:right !important; }
.fn { float:none !important; }
.blue{ color:#0066cc;}
.red{ color:#ff0000;}
.clear { clear:both; font-size:0; visibility:hidden; line-height:0; height:0; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { *zoom:1; }
.relative { position:relative; }
.absolute { position:absolute; }
.fixed { position:fixed; }
.hidden { display:none; }
.sep { color:#ddd; font-family:Arial; margin:0 5px; }
.sep10 { color:#ddd; font-family:Arial; margin:0 10px; }
.ul,.uline,.underline,a.ul,a.ul:hover,a.uline,a.uline:hover,a.underline,a.underline:hover { text-decoration:underline; }
.noul,a.noul,a.noul:hover,.nouline,a.nouline,a.nouline:hover { text-decoration:none; }
.noime { ime-mode:disabled; }
.nowrap { white-space:nowrap; }
.wordwrap { word-break:break-all; word-wrap:break-word; overflow:hidden; }
.short,.ellipsis li { display:inline-block; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.disabled { filter:alpha(opacity=30); -moz-opacity:0.3; opacity:0.3; }
.content, .wcontent { width:1200px; margin-left:auto; margin-right:auto; *zoom:1; }
.content:after, .wcontent:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.w960 { width:960px; margin:0 auto; }

/*== frame style ==*/
body { color:#333; background-color:#fff; }
a { color:#333; }
a:hover { color:#C53F4C; }
.txt-input, .txt-textarea {height: 22px;line-height: 22px;border: solid 1px #dadada;border-top-color: #999;border-left-color: #dadada;padding: 0 4px;color: #666;}
/*按钮及公用样式*/
input,img{vertical-align:middle;}
.mt_20{margin-top:20px;}
.mt_24{margin-top:24px;}
.mt_35{margin-top:35px;}
.mt_15{margin-top:15px;}
.mt_50{margin-top:50px;}
.mt_70{margin-top:70px;}
.pt10{padding-top:10px;}
.mr5{margin-right:5px;}
.ml5{margin-left:5px;}
.ml15{margin-left:15px;}
.mr10{margin-right:10px;}
.mb10{margin-bottom:10px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.ml_10{margin-left:10px;}
.ml_30{margin-left:30px;}
.ml_35{margin-left:35px;}
.ml_55{margin-left:55px;}
.ml_115{margin-left:115px;}
/*按钮样式*/
.btn {background: url(../images/btn_list.png) 0 -85px no-repeat;width: 50px;height: 24px;color: white;text-align: center;line-height: 20px;border: none;cursor: pointer;display: inline-block;}
.btn{background:url(../images/btn_list.png) 0 -85px no-repeat; width:50px; height:24px; color:#FFF; text-align:center; line-height:20px; border:none; cursor:pointer; display:inline-block;}
.btn:hover{text-decoration:none; color:#FFF;}
.btn1:hover,.btn1_s:hover{text-decoration:none; color:#FFF;}
.btn2:hover{text-decoration:none; color:#FFF;}
.btn4:hover{text-decoration:none; color:#FFF;}
.btn9:hover{text-decoration:none; color:#FFF;}
.btn3:hover{text-decoration:none; color:#333;}
.btn7:hover{text-decoration:none; color:#333;}
.btn8:hover{text-decoration:none; color:#333;}
.btn1,.btn1_s{display:inline-block; margin-left:5px; color:#FFF; padding-left:8px; background:url(../images/btn_list.png) left -226px no-repeat; height:20px; line-height:18px; text-decoration:none;}
.btn1_s{background-position:left -384px;}
.btn1 span,.btn1_s span{color:#FFF; background:url(../images/btn_list.png) right -204px; padding-right:8px; display:inline-block; height:20px; line-height:18px;}
.btn1_s span{background-position:right -363px;}
.btn2{display:inline-block; color:#FFF; background:url(../images/btn_list.png) left -23px no-repeat; height:32px; width:90px; text-decoration:none; font-size:14px; text-align:center; line-height:32px; border:0; cursor:pointer;}
.btn3{display:inline-block; color:#333; background:url(../images/btn_list.png) left -113px no-repeat; height:32px; width:90px; text-decoration:none; font-size:14px; text-align:center; line-height:32px; border:0; cursor:pointer;}
.btn4{display:inline-block; color:#fff; background:url(../images/btn_list.png) left -58px no-repeat; height:24px; width:70px; text-decoration:none; font-size:12px; text-align:center; line-height:24px; font-weight:500; cursor:pointer; border:0;}
.btn5{display:inline-block; color:#333; background:url(../images/btn_list.png) left -250px no-repeat; height:32px; width:120px; text-decoration:none; font-size:14px; text-align:center; line-height:32px; border:0; cursor:pointer;}
.btn6{display:inline-block; color:#666; background:#CCCCCC; height:32px; width:90px; text-align:center; line-height:32px; font-size:14px;}
.btn7{background:url(../images/btn_list.png) 0 -177px no-repeat; width:50px; height:24px; color:#333; text-align:center; line-height:20px; border:none; cursor:pointer; display:inline-block;}
.btn8{display:inline-block; color:#333; background:url(../images/btn_list.png) left -298px no-repeat; height:24px; width:82px; text-decoration:none; font-size:12px; text-align:center; line-height:24px; font-weight:500; cursor:pointer; border:0;}
.btn9{display:inline-block; color:#fff; background:url(../images/btn_list.png) left -334px no-repeat; height:24px; width:90px; text-decoration:none; font-size:12px; text-align:center; line-height:24px; font-weight:500; cursor:pointer; border:0;}
.btn10{display:inline-block; color:#fff; background: url(../images/btn_list.png) no-repeat; height:32px; width:90px; text-decoration:none; font-size:14px; text-align:center; line-height:32px; font-weight:500; cursor:pointer; border:0;}
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner{ border:none;padding:0;}
.border_right{border-right:1px solid #DFDFDF}
/*银行支付*/
.payUl-new li{width:170px; height:40px; float:left; border:1px solid #ccc; margin:10px 10px 0 0; background:#fff; font:normal normal 14px/40px \5b8b\4f53; overflow:hidden;}
.payUl-new li.w150{width:150px;}
.payUl-new li.w320{position:absolute!important;background:#FFFFFF;height: 130px;left: 334px;padding: 10px;position: absolute;top: 18px;width: 320px;}
.payUl-new li.w320 label{width:150px;}
.payUl-new li.w320 .pay-info{display:block;margin-top:10px;width:320px;height:80px;overflow:hidden;}
.payUl-new li.w320 .pay-info h2{color:#666666;line-height:20px;}
.payUl-new li.w320 .pay-info p{height:26px;padding:2px 0;}
.payUl-new li.w320 .pay-info .ali-input{margin:0 5px 0 0;padding:0 5px;backgounrd:#fff;width:210px;height:24px;border:1px solid #ccc;color:#999;line-height:24px;}
.payUl-new li.w320 .pay-info a.confirm{text-decoration:none;background:#dd4343;width:45px;height:26px;float:left;text-align:center;line-height:26px;color:#fff;}
.payUl-new li.w320 .pay-info .error{color:#ff0000;line-height:26px;}
.payUl-new li:hover{border:1px solid #999;}
.payUl-new li.on,.pay-bm .on,.pay-remittanceBox:hover.on{border:1px solid #C63F4E; position:relative;}
.payUl-new li.on b,.pay-remittanceBox.on b{background:url(http://img12.yesmyimg.com/newWeb/images/cart/pay_on_icon.png) no-repeat; width:21px; height:21px; display:inline-block; position:absolute; bottom:0; right:0;}
.payUl-new li label { display:block; }
.payUl-new li input{margin-left:5px;}
.payUl-new li input{margin-top:13px; float:left;}
.payUl-new li span{ float:right; vertical-align:middle; width:145px; height:40px; background: url(../images/bank.png) no-repeat; text-indent:-10000px; overflow:hidden; }
.payUl-new li.w150 span{width:125px;}
.payUl-new li.pay-info{display:none;}
.payUl-new li span.pay-hdfk{font-style:normal; margin-left:10px; text-indent:0; float:none; width:auto; height:auto; background:none;}/*货到付款*/
.payUl-new li span.pay-alipay,   .payUl-new li span.PAY_TYPE_ONLINE_ZFB { background-position:-20px -1px; } /*支付宝*/
.payUl-new li span.pay-chinapay, .payUl-new li span.PAY_TYPE_CHAINPAY { background-position:-18px -239px; } /*网付通*/
.payUl-new li span.pay-kuaiqian, .payUl-new li span.PAY_TYPE_KUAIQIAN { background-position:-20px -360px; } /*快钱*/
.payUl-new li span.pay-sft,      .payUl-new li span.PAY_TYPE_ONLINE_SFT { background-position:-15px -280px; } /*盛付通*/
.payUl-new li span.pay-wlt,      .payUl-new li span.PAY_TYPE_SCORE { background-position:12px -600px; width:100px; margin-right:20px;} /*平安万里通*/
.payUl-new li span.pay-guanai,   .payUl-new li span.PAY_TYPE_ONLINE_GUANAITONG { background-position:-15px -682px; } /*关爱积分*/
.payUl-new li span.pay-anyo,     .payUl-new li span.PAY_TYPE_ONLINE_ANYO { background-position:-15px -720px; } /*安悦*/
.payUl-new li span.pay-tenpay,   .payUl-new li span.PAY_TYPE_ONLINE_TENPAY { background-position:-15px -760px; } /*财付通*/
.payUl-new li span.pay-cmpay,    .payUl-new li span.PAY_TYPE_ONLINE_CMPAY { background-position:-14px -800px; } /*手机支付*/
.payUl-new li span.pay-bankcomm, .payUl-new li span.PAY_TYPE_BANKCOMM { background-position:-16px -1040px; } /*积分乐园*/
.payUl-new li span.pay-icbc,     .payUl-new li span.PAY_TYPE_ONLINE_CBC { background-position:-5px -78px; } /*工商银行*/
.payUl-new li span.pay-cmb,      .payUl-new li span.PAY_TYPE_ONLINE_CMB { background-position:-8px -40px; } /*招商银行*/
.payUl-new li span.pay-pingan,   .payUl-new li span.PAY_TYPE_ONLINE_PINGAN { background-position:-5px -200px; } /*平安银行*/
.payUl-new li span.pay-ctb,      .payUl-new li span.PAY_TYPE_ONLINE_CTB { background-position:-3px -120px; } /*交通银行*/
.payUl-new li span.pay-abc,      .payUl-new li span.PAY_TYPE_ONLINE_ABC { background-position:-5px -320px; } /*农业银行*/
.payUl-new li span.pay-citic,    .payUl-new li span.PAY_TYPE_ONLINE_CITIC { background-position:-8px -158px; } /*中信银行*/
.payUl-new li span.pay-boc,      .payUl-new li span.PAY_TYPE_ONLINE_ZFB_BOCB2C { background-position:-8px -400px; } /*中国银行*/
.payUl-new li span.pay-sdb,      .payUl-new li span.PAY_TYPE_ONLINE_ZFB_SDB { background-position:-5px -440px; } /*深发展银行*/
.payUl-new li span.pay-spdb,     .payUl-new li span.PAY_TYPE_ONLINE_ZFB_SPDB { background-position:-8px -480px; } /*浦发银行*/
.payUl-new li span.pay-gdb,      .payUl-new li span.PAY_TYPE_ONLINE_ZFB_GDB { background-position:-5px -520px; } /*广发银行*/
.payUl-new li span.pay-shbank,   .payUl-new li span.PAY_TYPE_ONLINE_ZFB_SHBANK { background-position:-8px -560px; } /*上海银行*/
.payUl-new li span.pay-ccb,      .payUl-new li span.PAY_TYPE_ONLINE_CCB { background-position:-8px -641px; } /*建设银行*/
.payUl-new li span.pay-psbc,     .payUl-new li span.PAY_TYPE_ONLINE_PSBC { background-position:-5px -841px; } /*邮储银行*/
.payUl-new li span.pay-cebb,     .payUl-new li span.PAY_TYPE_ONLINE_CEBB { background-position:-5px -881px; } /*光大银行*/
.payUl-new li span.pay-hxb,      .payUl-new li span.PAY_TYPE_ONLINE_HXB { background-position:-5px -921px; } /*华夏银行*/
.payUl-new li span.pay-cib,      .payUl-new li span.PAY_TYPE_ONLINE_CIB { background-position:-5px -961px; } /*兴业银行*/
.payUl-new li span.pay-cmbc,     .payUl-new li span.PAY_TYPE_ONLINE_CMBC { background-position:-5px -1001px; } /*民生银行*/
.payUl-new li span.pay-ali,      .payUl-new li span.PAY_TYPE_ONLINE_ALI{background-position:2px -1120px;}/*支付宝*/
.payUl-new li span.pay-code,     .payUl-new li span.PAY_TYPE_ONLINE_ZF{background-position:2px -1160px;}/*支付宝扫描*/
.payUl-new li span.pay-cmbm,     .payUl-new li span.PAY_TYPE_ONLINE_CMB_MOBILE{background-position:-5px -1200px;}/*招商银行手机*/

/*弹框*/
.theme-popover-mask{z-index:900;position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);-moz-opacity:0.5;display: ;}
.bounced{ border:#bbbbbb solid 1px; width:540px; border:#ccc solid 1px; background:#fff; margin-top:10px;display:  ; z-index:999; position:fixed; left:50%; top:30%; margin-left:-270px;_position:absolute;	right:20px;_bottom:auto;}
.bounced .title { background: #fff;border-top: 3px solid #e4393c; font-size: 16px;margin-left: 0; padding: 6px 16px;    position: relative;}
.bounced .closeBtn { background: url(../images/topBannercloseBtn.png) no-repeat; height: 21px; position: absolute; right:8px;    top:8px; width: 21px;}

